<!DOCTYPE html>

<!-- ng-app defines scope of angular JS  -->
<html ng-app>

<head>
    <title> Hello Angular </title>
    <style>
        body {background-color:lightblue; }
        .blue { color:blue; }
        .green{ color:green; }
        
        .ng-cloak, [ng-cloak], [ng\:cloak] {
            display: none !important;  
            /* makes boostrapping process first, then evaluates values */ 
        }
    </style>
</head>

<body ng-cloak>
 
<p > We can evaluate JS expressions: {{ 5 == 6 }} {{ 3+8*2 }} </p> 

<br>
<p>Binding example!! ng-model  binds form element to application data </p> 
<p> Hello   {{myInput }} </p>            <!--- output value of the model -->
<input type="text" ng-model="myInput ">  <!--- bind user input to model -->

<br><br>
<p>ng-init and ng-bind directives </p>
 <div ng-init=" myName = 'Macarena' "> 
    <p ng-bind = "myName">   </p>  {{ myName }} 
</div>

<br> 
<p> Manipulating elements!! ng-click calls event handler, calls function when element is clicked  
 </p>
<div ng-init=" myNum = 0 "> 
    <button ng-click= " myNum = myNum + 1"  </button>
        
    {{  myNum  }}     

</div>
 
<br> 
<p>ng-if  takes as input true or false (removes element from DOM)</p>
Click the checkbox  <input type="checkbox" ng-model="isChecked">
<p ng-if="isChecked"> Hello MEANies  </p>

<br><br>
<p>ng-show (same as ng-if but it doesn’t remove element from DOM)</p>
<p>ng-hide takes as input true or false, if false hide content of element</p>
<p> Guess a number: </p>
<div ng-init= "x = 222">  
    <input type="text" ng-model="myGuess">
    <span ng-hide="myGuess != x"> Good job!!   </span>
    <span ng-show="myGuess != x"> Not good!!   </span>
</div>

<br>
<p>ng-class chooses CSS class when condition is true</p>
Guess another number:<br>
<div ng-init= "y = 222">  
    <input type="text" ng-model="z" ng-class="{blue: z != y, green: z == y}">
</div>    

<br>ng-repeat iterates through elements in an array  <br>
<div ng-init= "y = [1,2,3]">  
    <span ng-repeat="elem in y">  {{ elem }}  </span>
    
</div>    

<!-- ng-repeat iterates through unique elements in array, must use 
track by $index in order to iterate through indexes -->
<div ng-init= "names = [{name: 'Al', last: 'Kon'}, {name: 'Dy', last: 'Di'}, {name: 'Sm', last: 'Mi'} ]">  
    <span ng-repeat="elem in names track by $index">  {{ elem.name }}  </span>
    
</div> 

<br>
<p>ng-options populates option values in select elem </p>
<div ng-init= " faculty=[   {name : 'Trudy', specialty : 'networks' },
                            {name : 'Alice', specialty : 'security' },
                            {name : 'Bob', specialty : 'security' }]; "> 
    <select ng-model="elem" ng-options=" elem.name group by elem.specialty for elem in faculty">
    </select>
    <p>You have selected {{ elem.name }} , specialty: {{elem.specialty }} </p>
</div>

<!-- References -->
<!--- At the end so it doesn't slow down displaying application in browser --> 
<script src="angular.min.js">  </script> 

</body>
</html>
